.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h2 {
    text-decoration: underline;
}

li {
    text-decoration: none;
    text-align: left;
}

.input {
    margin-bottom: 15px;
}

#password {
    margin: auto;
    font-size: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
#btn {
    font-size: 30px;
}